<div id="content" ng-init="vm.list();">
    <div class="alert alert-danger" ng-show="vm.error != null">
        {{vm.error}}
    </div>

    <div class="panel panel-default sticky">
        <div class="panel-heading">
            <h4><i class="fa fa-sitemap"></i> Minhas Árvores</h4>
        </div>
        <div class="panel-body" ng-show="!vm.showGrid()">
            <div class="row">
                <div class="col-xs-12">
                    <h5>
                        Nenhum registro encontrado!
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" ng-show="vm.showGrid()">
            <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false" ng-swipe-right="vm.carouselPrev()" ng-swipe-left="vm.carouselNext()">
                <!-- Indicators -->
                <ol class="carousel-indicators" ng-if="vm.arvores.length > 1">
                    <li data-target="#carousel" data-slide-to="{{$index}}" ng-class="$index == 0 ? 'active': ''" ng-repeat="arvore in vm.arvores"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item" ng-class="$index == 0 ? 'active': ''" ng-repeat="arvore in vm.arvores">
                        <div class="row">
                            <div ng-class="vm.arvores.length > 1 ? 'col-sm-10 col-sm-offset-1' : 'col-xs-12'">
                                <div class="panel panel-default">
                                    <div class="panel-body text-center">
                                        <style scoped>
                                            .tree-line {
                                                border-left: 1px solid #ddd !important;
                                            }

                                                .tree-line:before {
                                                    content: "";
                                                    position: absolute;
                                                    top: 50%;
                                                    left: 0;
                                                    width: 9%;
                                                    border-bottom: 1px solid #ddd !important;
                                                }

                                            .tree-line-top:before {
                                                content: "";
                                                position: absolute;
                                                bottom: 0;
                                                left: -1px;
                                                height: 50%;
                                                border-left: 1px solid #ddd !important;
                                            }

                                            .tree-line-top:before {
                                                content: "";
                                                position: absolute;
                                                width: 9%;
                                                border-top: 1px solid #ddd !important;
                                            }

                                            .tree-line-bottom:before {
                                                content: "";
                                                position: absolute;
                                                top: 0;
                                                left: -1px;
                                                height: 50%;
                                                border-left: 1px solid #ddd !important;
                                            }

                                            .tree-line-bottom:before {
                                                content: "";
                                                position: absolute;
                                                width: 9%;
                                                border-bottom: 1px solid #ddd !important;
                                            }

                                            .tree-line-l:before {
                                                content: "";
                                                position: absolute;
                                                top: 50%;
                                                right: 0;
                                                width: 9%;
                                                border-bottom: 1px solid #ddd !important;
                                            }
                                        </style>
                                        <table style="width: 100%">
                                            <tr>
                                                <td style="width: 34%; position: relative;" class="tree-line-l">
                                                    <button type="button" class="btn col-xs-10 col-xs-offset-1" ng-class="arvore.valida ? 'btn-primary' : 'btn-warning'" ng-click="vm.find(arvore.id, true);">
                                                        <i class="fa fa-lg fa-star"></i>
                                                        <span><br />{{arvore.lote.codigo}}</span>
                                                    </button>
                                                </td>
                                                <td style="width: 66%; position: relative;">
                                                    <table style="width: 100%;">
                                                        <tr ng-repeat="n1 in arvore.vendasIndicadas">
                                                            <td style="width: 50%; position: relative;" ng-class="$index == 0 ? 'tree-line-top' : ($index == (arvore.vendasIndicadas.length -1) ? 'tree-line-bottom': 'tree-line')">
                                                                <div class="tree-line-l">
                                                                    <button type="button" class="btn btn-default col-xs-10 col-xs-offset-1 text" ng-class="n1.lote == null ? 'text-default' : 'text-primary'" ng-disabled="n1.lote == null" ng-click="vm.find(n1.id);">
                                                                        <span class="text text-warning pull-right" ng-if="n1.lote != null && !n1.valida"><i class="fa fa-exclamation-triangle"></i></span>
                                                                        <i class="fa fa-lg" ng-class="n1.lote == null ? 'fa-flag-o' :'fa-flag'"></i>
                                                                        <span><br />{{n1.lote.codigo || 'Pendente'}}</span>
                                                                    </button>
                                                                </div>
                                                            </td>
                                                            <td style="padding: 12px 0 12px 0;">
                                                                <table style="width: 100%;">
                                                                    <tr ng-repeat="n2 in n1.vendasIndicadas">
                                                                        <td style="padding: 5px 0 5px 0; width: 50%; position: relative;" ng-class="$index == 0 ? 'tree-line-top' : ($index == (n1.vendasIndicadas.length -1) ? 'tree-line-bottom': 'tree-line')">
                                                                            <button type="button" class="btn btn-default text col-xs-10 col-xs-offset-1" ng-disabled="n2.lote == null" ng-class="n2.lote == null ? 'text-default' : 'text-primary'" ng-click="vm.find(n2.id);">
                                                                                <span class="text text-warning pull-right" ng-if="n2.lote != null && !n2.valida"><i class="fa fa-exclamation-triangle"></i></span>
                                                                                <i class="fa fa-lg" ng-class="n2.lote == null ? 'fa-flag-o' :'fa-flag'"></i>
                                                                                <span><br />{{n2.lote.codigo || 'Pendente'}}</span>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-caption" ng-if="vm.arvores.length > 1">
                            <strong class="label label-primary">{{$index + 1}}/{{vm.arvores.length}}</strong>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <span class="left carousel-control hidden-xs" data-target="#carousel" data-slide="prev" style="cursor:pointer;" ng-if="vm.arvores.length > 1">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </span>
                    <span class="right carousel-control hidden-xs" data-target="#carousel" data-slide="next" style="cursor:pointer;" ng-if="vm.arvores.length > 1">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id="modalDetails" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-xs-12">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <span class="h4 modal-title">Detalhes da Compra</span>
                    </div>
                </div>
                <div class="modal-body">
                    <style scoped>
                        th {
                            white-space: nowrap !important;
                        }
                    </style>
                    <div ng-if="!vm.venda.valida" class="alert alert-warning">
                        <strong><i class="fa fa-lightbulb-o"></i> Considere Resolver</strong>
                        <br />
                        <p ng-bind-html="vm.venda.mensagem | br"></p>
                    </div>

                    <blockquote><i class="fa fa-address-card"></i> Comprador</blockquote>
                    <table class="table table-condensed" style="margin-bottom: auto;">
                        <tr>
                            <th><i class="fa fa-user-o"></i> Nome</th>
                            <td class="text-right">
                                <span ng-if="vm.venda.indicador">Você</span>
                                <span ng-if="!vm.venda.indicador">{{vm.venda.cliente.nome}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-envelope-o"></i> E-Mail</th>
                            <td class="text-right">{{vm.venda.cliente.email || '-'}}</td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-phone"></i> Tel. Fixo</th>
                            <td class="text-right">{{(vm.venda.cliente.telFixo | brPhoneNumber) || '-'}}</td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-mobile"></i> Tel. Móvel</th>
                            <td class="text-right">{{(vm.venda.cliente.telMovel | brPhoneNumber) || '-'}}</td>
                        </tr>
                    </table>

                    <br />
                    <blockquote><i class="fa fa-flag"></i> Lote</blockquote>
                    <table class="table table-condensed" style="margin-bottom: auto;">
                        <tr>
                            <th><i class="fa fa-cubes"></i> Número</th>
                            <td class="text-right">{{vm.venda.lote.codigo}}</td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-object-group"></i> Área</th>
                            <td class="text-right">{{vm.venda.lote.area}}m²</td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-comments-o"></i> Descrição</th>
                            <td class="text-right">{{vm.venda.lote.descricao || '-'}}</td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-cube"></i> Loteamento</th>
                            <td class="text-right">{{vm.venda.lote.loteamento.nome}}</td>
                        </tr>
                    </table>

                    <br />

                    <blockquote><i class="fa fa-shopping-bag"></i> Compra</blockquote>
                    <table class="table table-condensed" style="margin-bottom: auto;">
                        <tr>
                            <th><i class="fa fa-money"></i> Valor do lote</th>
                            <td class="text-right">{{vm.venda.valor | currency}}</td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-money"></i> Valor médio da parcela</th>
                            <td class="text-right">{{vm.venda.valorParcela | currency}}</td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-calendar"></i> Vencimento</th>
                            <td class="text-right">Dia {{vm.venda.diaVencimento}}</td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-bookmark-o"></i> Pagas/Total    </th>
                            <td class="text-right">{{vm.venda.pagas == null ? 0 : vm.venda.pagas}}/{{vm.venda.quantParcelas}}
                            <td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>