<div ng-init="vm.init();">
    <div class="alert alert-danger" ng-show="vm.error != null">
        {{vm.error}}
    </div>

    <div class="panel panel-default sticky">
        <div class="panel-heading">
            <h4><i class="fa fa-dashboard"></i> Dashboard</h4>
        </div>
    </div>

    <div class="row">

        <!--Informações do Usuário-->
        <div class="col-md-5 col-lg-4">
            <div class="panel panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <div class="pull-left text-center" style="width: 50px; padding-top: 1.2rem;">
                            <i class="fa fa-2x fa-user-circle"></i>
                        </div>
                        <div class="pull-left" style="width: 70%; padding-top: 0.65rem;">
                            <span class="panel-title">{{login.nome}}</span>
                            <br />
                            <small>Situação Cadastral: <strong>{{vm.dashboard.situacaoCadastral ? 'Ativo' : 'Inativo' }}</strong></small>
                        </div>
                    </div>
                </div>
            </div>

            <!--Indicações-->
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="pull-left text-center" style="width: 50px; padding-top: 1.2rem;">
                            <i class="fa fa-2x fa-share"></i>
                        </div>
                        <div class="pull-left" style="width: 70%; padding-top: 0.65rem;">
                            <span class="panel-title">Indique Agora</span>
                            <br />
                            <small>Toda indicação é convertida em ganho</small>
                        </div>
                    </div>
                </div>
                <div ng-repeat="venda in vm.dashboard.vendasMMNAtivo">
                    <div class="alert" style="padding-bottom: 0 !important; margin-bottom: 10px !important;">
                        <div class="row">
                            <div class="col-xs-12">
                                <span class="h4">
                                    <span class="text-muted">#{{venda.lote.loteamentoId}}</span> {{venda.lote.loteamento.nome}}
                                    <small>
                                        (Lote: {{venda.lote.codigo}})
                                    </small>
                                </span>
                                <br />
                                <small>
                                    Inserido em: {{venda.lote.loteamento.dataCadastro | date : "dd/MM/yyyy"}}
                                </small>
                            </div>
                        </div>
                        <div class="input-group">
                            <!--ng-model="loteamento.url"-->
                            <input type="text" class="form-control" id="url" readonly value="{{venda.lote.loteamento.url}}" />
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="button" title="Copiar" ng-click="vm.copy(venda.lote.loteamento.url)"><i class="fa fa-copy fa-lg"></i></button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Compartilhar"><i class="fa fa-share fa-lg"></i></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a ng-href="mailto:?subject={{venda.lote.loteamento.nome}}&body=Adquira seu lote {{venda.lote.loteamento.url | encode}}" class="h5"><i class="fa fa-envelope-o text-muted" style="width: 24px"></i> E-mail</a></li>
                                    <li><a onclick="window.open(this.href, 'whatsapp-share','width=560, height=300');return false;" ng-href=" https://api.whatsapp.com/send?text={{venda.lote.loteamento.nome}}, adquira seu lote {{venda.lote.loteamento.url | encode}}" class="h5"><i class="fa fa-whatsapp text-success" style="width: 24px"></i> WhatsApp</a></li>
                                    <li><a onclick="window.open(this.href, 'facebook-share','width=560, height=300');return false;" ng-href="https://www.facebook.com/sharer/sharer.php?u={{venda.lote.loteamento.url | encode}}" class="h5"><i class="fa fa-facebook text-primary" style="width: 24px"></i> Facebook</a></li>
                                    <li><a onclick="window.open(this.href, 'twitter-share', 'width=550, height=300');return false;" ng-href="https://twitter.com/intent/tweet?text=Adquira seu lote&hashtags={{venda.lote.loteamento.nomeHashtag}} {{venda.lote.loteamento.url | encode}}" class="h5"><i class="fa fa-twitter text-info" style="width: 24px"></i> Twitter</a></li>
                                    <li><a onclick="window.open(this.href, 'google-plus-share', 'width=400, height=530');return false;" ng-href="https://plus.google.com/share?url={{venda.lote.loteamento.url | encode}}" class="h5"><i class="fa fa-google-plus text-danger" style="width: 24px"></i> Google Plus</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Conteúdo-->
        <div class="col-md-7 col-lg-8">
            <!--Ganhos-->
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="pull-left text-center" style="width: 35px; padding-top: 1rem;">
                                    <i class="fa fa-2x fa-dollar"></i>
                                </div>
                                <div class="pull-left" style="width: 70%; padding-top: 0.15rem;">
                                    <small>Ganho do Dia</small>
                                    <br />
                                    <strong class="panel-title">{{vm.dashboard.ganhoDoDia | currency}}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="pull-left text-center" style="width: 35px; padding-top: 1rem;">
                                    <i class="fa fa-2x fa-dollar"></i>
                                </div>
                                <div class="pull-left" style="width: 70%; padding-top: 0.15rem;">
                                    <small>Ganho do Mês</small>
                                    <br />
                                    <strong class="panel-title">{{vm.dashboard.ganhoDoMes | currency}}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="pull-left text-center" style="width: 35px; padding-top: 1rem;">
                                    <i class="fa fa-2x fa-dollar"></i>
                                </div>
                                <div class="pull-left" style="width: 70%; padding-top: 0.15rem;">
                                    <small>Ganho Total</small>
                                    <br />
                                    <strong class="panel-title">{{vm.dashboard.ganhoTotal | currency}}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Gráfico-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="pull-left text-center" style="width: 50px; padding-top: 1.2rem;">
                                    <i class="fa fa-2x fa-area-chart"></i>
                                </div>
                                <div class="pull-left" style="width: 70%; padding-top: 0.65rem;">
                                    <span class="panel-title">Quantidade de Indicações</span>
                                    <br />
                                    <small class="text-muted">Últimos 6 meses</small>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div id="chart_div" style="width: 100%; height: 250px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //google.charts.setOnLoadCallback(drawChart);
    google.charts.load('current', { 'packages': ['corechart'] });
</script>