<div ng-controller="homeController as vm" ng-init="vm.init(); isNavCollapsed = true;">
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header" style="position: relative;">
                        <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a ng-click="isNavCollapsed = true;" class="navbar-brand" ui-sref="painel.home"><img src="./images/Logo.svg" style="max-height: 24px" class="img-responsive" /></a>
                        <!--<a ui-sref="painel.notificacoes" class="navbar-brand" style="position: absolute; right: 60px;">
                            <i class="fa fa-bell-o"></i>
                            <i ng-show="notificacoes != 0" class="fa fa-circle text-danger" style="position: absolute; right: 12px; bottom: 12px; font-size: 12px;"></i>
                        </a>
                        <a ui-sref="painel.chamados" class="navbar-brand" style="position: absolute; right: 95px;">
                            <i class="fa fa-life-ring"></i>
                            <i ng-show="chamados != 0" class="fa fa-circle text-danger" style="position: absolute; right: 12px; bottom: 12px; font-size: 12px;"></i>
                        </a>-->
                    </div>
                </div>

                <div class="col-sm-6">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
                        <ul class="nav navbar-nav" ng-show="!isNavCollapsed">
                            <!--<li><strong>Navegação</strong></li>-->
                            <!--<li ng-click="isNavCollapsed = true;"><a ui-sref="painel.notificacoes"><i class="fa fa-bell-o"></i> Notificações</a></li>
                            <li ng-click="isNavCollapsed = true;"><a ui-sref="painel.chamados"><i class="fa fa-life-ring"></i> Chamados</a></li>-->
                            <li><strong>Menu</strong></li>
                            <li ng-click="isNavCollapsed = true;"><a ui-sref="painel.home"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                            <li ng-click="isNavCollapsed = true;"><a ui-sref="painel.vendas"><i class="fa fa-shopping-bag"></i> Compras</a></li>
                            <li ng-click="isNavCollapsed = true;"><a ui-sref="painel.arvore"><i class="fa fa-sitemap"></i> Rede</a></li>
                            <li ng-click="isNavCollapsed = true;"><a ui-sref="painel.titulos"><i class="fa fa-money"></i> Financeiro</a></li>
                        </ul>
                    </div>

                    <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="painel.javascript:void(0);">
                                    <i class="fa fa-user-circle-o"></i> {{login.nome}}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li ng-click="isNavCollapsed = true;"><a ui-sref="painel.perfil"><i class="fa fa-id-card-o"></i> Alterar Perfil</a></li>
                                    <li ng-click="isNavCollapsed = true;"><a ui-sref="painel.alterar-senha"><i class="fa fa-key"></i> Alterar Senha</a></li>
                                </ul>
                            </li>
                            <li ng-click="isNavCollapsed = true;"><a ui-sref="login.entrar" ng-click="vm.logout();"><i class="fa fa-sign-out"></i> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" ng-controller="vendasController as vm">
            <ul class="nav nav-sidebar" style="padding: 0 10px;">
                <li>
                    <img src="././images/Logo.svg" class="img-responsive" />
                    <br />
                </li>
                <!--<li><strong>Navegação</strong></li>-->
                <li><strong>Menu</strong></li>
                <li ng-click="isNavCollapsed = true;" class="active" ui-sref-active="active">
                    <a ui-sref="painel.home"><i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
                <li ng-click="isNavCollapsed = true;" class="active" ui-sref-active="active">
                    <a ui-sref="painel.vendas"><i class="fa fa-shopping-bag"></i> Compras</a>
                </li>
                <li ng-click="isNavCollapsed = true;" class="active" ui-sref-active="active">
                    <a ui-sref="painel.arvore"><i class="fa fa-sitemap"></i> Rede</a>
                </li>
                <li ng-click="isNavCollapsed = true;" class="active" ui-sref-active="active">
                    <a ui-sref="painel.titulos"><i class="fa fa-money"></i> Financeiro</a>
                </li>
                <!--<li ng-click="isNavCollapsed = true;" class="active" ui-sref-active="active">
                    <a ui-sref="painel.notificacoes">
                        <i class="fa fa-bell-o"></i> Notificações
                        <span ng-show="notificacoes != 0" class="badge progress-bar-danger pull-right">{{notificacoes}}</span>
                    </a>
                </li>
                <li ng-click="isNavCollapsed = true;" class="active" ui-sref-active="active">
                    <a ui-sref="painel.chamados">
                        <i class="fa fa-life-ring"></i> Chamados
                        <span ng-show="chamados != 0" class="badge progress-bar-danger pull-right">{{chamados}}</span>
                    </a>
                </li>
                <li><strong>Menu</strong></li>-->
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ui-view></ui-view>
        </div>
    </div>
</div>