<div ng-controller="titulosController as vm" ng-init="vm.list();">
    <div class="alert alert-danger" ng-show="vm.error != null">
        {{vm.error}}
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="btn btn-default pull-right" ui-sref="painel.home"><i class="fa fa-arrow-left"></i> Voltar</a>
            <h4><i class="fa fa-file"></i> Parcelas do Lote {{vm.titulos[0].venda.lote.codigo}}</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6" ng-show="vm.showGrid()">
                    <span class="input-group">
                        <input type="text" ng-model="filtro" placeholder="Pesquisar" class="form-control" />
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" ng-show="!vm.showGrid()">
                    <h5>
                        Nenhum registro encontrado!
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="titulo in vm.titulos | filter: filtro" ng-show="vm.showGrid()">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="dropdown pull-right">
                        <p class="label label-{{titulo.corStatus}}">{{titulo.status}}</p>
                    </div>
                    <span class="h4">
                        Parcela {{titulo.numero}}/{{titulo.venda.quantParcelas}}
                    </span>
                    <div class="row">
                        <hr style="margin-top: 5px; margin-bottom: 5px;" />
                    </div>
                    <table class="table table-condensed" style="margin-bottom: auto;">
                        <tr>
                            <th><i class="fa fa-money"></i> Valor da Parcela</th>
                            <td class="text-right">{{titulo.valor | currency}}</td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-calendar"></i> Vencimento</th>
                            <td class="text-right"> {{titulo.dataVencimento | date: "dd/MM/yyyy"}}</td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-money"></i> Valor Pago</th>
                            <td ng-if="titulo.pago" class="text-right">{{titulo.valorPgto | currency}}</td>
                            <td ng-if="!titulo.pago" class="text-right">-</td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-calendar"></i> Pagamento</th>
                            <td ng-if="titulo.pago" class="text-right">{{titulo.dataPgto | date: "dd/MM/yyyy"}}</td>
                            <td ng-if="!titulo.pago" class="text-right">-</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
