<div ng-controller="vendasController as vm" ng-init="vm.list();">
    <div class="alert alert-danger" ng-show="vm.error != null">
        {{vm.error}}
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><i class="fa fa-shopping-bag"></i> Minhas Compras</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6" ng-show="vm.showGrid()">
                    <span class="input-group">
                        <input type="text" ng-model="filtro" placeholder="Pesquisar" class="form-control" />
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" ng-show="!vm.showGrid()">
                    <h5>
                        Nenhum registro encontrado!
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6" ng-repeat="venda in vm.vendas | filter: filtro" ng-show="vm.showGrid()">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="dropdown pull-right visible-xs">
                        <button type="button" class="btn btn-sm btn-link" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Opções"><i class="fa fa-ellipsis-v fa-lg text-primary"></i></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a ui-sref="painel.titulos({vendaId: venda.id})" class="h5"><i class="fa fa-file text-primary"></i> Parcelas</a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown pull-right" ng-if="venda.pagas > 0">
                        <button type="button" class="btn btn-sm btn-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Compartilhar"><i class="fa fa-share-alt fa-lg"></i></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a ng-href="mailto:?subject={{venda.lote.loteamento.nome}}&body=Adquira seu lote {{venda.lote.loteamento.url | encode}}" class="h5"><i class="fa fa-envelope-o text-muted" style="width: 24px"></i> E-mail</a></li>
                            <li><a onclick="window.open(this.href, 'whatsapp-share','width=560, height=300');return false;" ng-href=" https://api.whatsapp.com/send?text={{venda.lote.loteamento.nome}}, adquira seu lote {{venda.lote.loteamento.url | encode}}" class="h5"><i class="fa fa-whatsapp text-success" style="width: 24px"></i> WhatsApp</a></li>
                            <li><a onclick="window.open(this.href, 'facebook-share','width=560, height=300');return false;" ng-href="https://www.facebook.com/sharer/sharer.php?u={{venda.lote.loteamento.url | encode}}" class="h5"><i class="fa fa-facebook text-primary" style="width: 24px"></i> Facebook</a></li>
                            <li><a onclick="window.open(this.href, 'twitter-share', 'width=550, height=300');return false;" ng-href="https://twitter.com/intent/tweet?text=Adquira seu lote&hashtags={{venda.lote.loteamento.nomeHashtag}} {{venda.lote.loteamento.url | encode}}" class="h5"><i class="fa fa-twitter text-info" style="width: 24px"></i> Twitter</a></li>
                            <li><a onclick="window.open(this.href, 'google-plus-share', 'width=400, height=530');return false;" ng-href="https://plus.google.com/share?url={{venda.lote.loteamento.url | encode}}" class="h5"><i class="fa fa-google-plus text-danger" style="width: 24px"></i> Google Plus</a></li>
                        </ul>
                    </div>
                    <div class="pull-right" ng-if="venda.pagas > 0">
                        <button class="btn btn-sm btn-link" type="button" title="Copiar" ng-click="vm.copy(venda.lote.loteamento.url)"><i class="fa fa-clipboard fa-lg"></i></button>
                    </div>
                    <span class="h4">
                        <span class="text-muted">#{{venda.id}}</span> Lote {{venda.lote.codigo}}
                        <br />
                        <small>{{venda.lote.loteamento.nome}}</small>
                        <br />
                        <button type="button" class="btn btn-sm btn-success" ng-if="venda.pagas > 0" data-toggle="modal" data-target="#modalMMNAtivo">MMN Ativo</button>
                        <button type="button" class="btn btn-sm btn-warning" ng-if="venda.pagas <= 0" data-toggle="modal" data-target="#modalMMNInativo">MMN Inativo</button>
                    </span>
                    <div class="row">
                        <hr style="margin-top: 17px; margin-bottom: 5px;" />
                    </div>
                    <table class="table table-condensed" style="margin-bottom: auto;">
                        <tr>
                            <th><i class="fa fa-money"></i> Valor do lote</th>
                            <td class="text-right">{{venda.valor | currency}}</td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-money"></i> Valor médio da parcela</th>
                            <td class="text-right">{{venda.valorParcela | currency}}</td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-calendar"></i> Vencimento</th>
                            <td class="text-right">Dia {{venda.diaVencimento}}</td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-bookmark-o"></i> Pagas/Total    </th>
                            <td class="text-right">{{venda.pagas == null ? 0 : venda.pagas}}/{{venda.quantParcelas}}
                            <td>
                        </tr>
                    </table>
                    <div class="hidden-xs">
                        <div class="row">
                            <hr style="margin-top: 6px; margin-bottom: 12px;" />
                        </div>
                        <a class="btn btn-sm btn-primary" ui-sref="painel.titulos({vendaId: venda.id})"><i class="fa fa-file"></i> Parcelas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modalMMNAtivo" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Indicador de Marketing Multinível Ativo</h4>
                </div>
                <div class="modal-body">
                    <h5>O Indicador de Marketing Multinível está <strong>Ativo</strong>!</h5>
                    <p>Parabéns, agora já é possível aproveitar as vantagens que o sistema de indicações pode trazer!</p>
                    <p>Gostaria de não pagar nada pelo seu lote? Isso é simples, indique outras pessoas e obtenha descontos.</p>
                    <p>Assim que seu indicado confirmar a aquisição de um lote você receberá um desconto proporcional em sua parcela, quanto mais indicações mais desconto para você, desta forma seu lote poderá até mesmo sair de graça.</p>
                    <p>Para isso, basta você clicar no botão de compartilhar <i class="fa fa-share-alt"></i>, no canto superior direito das informações sobre sua compra.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalMMNInativo" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Indicador Multinível Inativo</h4>
                </div>
                <div class="modal-body">
                    <h5>O Indicador de Marketing Multinível está <strong>Inativo</strong>!</h5>
                    <p>Pague a primeira parcela para ativá-lo e aproveitar as vantagens que o sistema de indicações pode trazer!</p>
                    <p>Gostaria de não pagar nada pelo seu lote? Isso é simples, indique outras pessoas e obtenha descontos.</p>
                    <p>Assim que seu indicado confirmar a aquisição de um lote você receberá um desconto proporcional em sua parcela, quanto mais indicações mais desconto para você, desta forma seu lote poderá até mesmo sair de graça.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>