<steps step="3" indicador="vm.indicador"></steps>

<div class="text-center" ng-init="vm.init();">
    <span class="h1 text-center">Finalize sua Aquisição</span>
    <hr />
    <p class="lead">
        Confira abaixo seus dados cadastrais e as informações do lote selecionado. Preencha as informações de pagamento antes de finalizar sua aquisição.
    </p>

    <section>
        <div class="panel panel-default">
            <div class="panel-heading">Dados cadastrais</div>
            <div class="panel-body">

                <span class="h4 text-center text-uppercase">{{vm.clienteLogado.nome}}</span>
                <br />
                <p class="lead text-center" title="Nome de usuário">@{{vm.clienteLogado.login}}</p>

                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Dados pessoais</div>
                        <div class="panel-body">
                            <dl class="dl-horizontal text-left">
                                <dt>CPF</dt>
                                <dd>{{vm.clienteLogado.cpf | brCpf}}</dd>

                                <dt>RG</dt>
                                <dd>{{vm.clienteLogado.rg || '-'}}</dd>

                                <dt>Sexo</dt>
                                <dd>{{vm.clienteLogado.sexo == '0' ? 'Masculino' : 'Feminino'}}</dd>

                                <dt>Data Nascimento</dt>
                                <dd>{{(vm.clienteLogado.dataNascimento | date: 'dd/MM/yyyy') || '-'}}</dd>

                                <dt>Data Cadastro</dt>
                                <dd>{{(vm.clienteLogado.dataCadastro | date: 'dd/MM/yyyy') || '-'}}</dd>

                                <dt>Telefone Fixo</dt>
                                <dd>{{(vm.clienteLogado.telFixo | brPhoneNumber) || '-'}}</dd>

                                <dt>Telefone Móvel</dt>
                                <dd>{{(vm.clienteLogado.telMovel | brPhoneNumber) || '-'}}</dd>

                                <dt>E-mail</dt>
                                <dd>{{vm.clienteLogado.email || '-'}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Endereço</div>
                        <div class="panel-body">
                            <dl class="dl-horizontal text-left">
                                <dt>Logradouro</dt>
                                <dd>{{vm.clienteLogado.logradouro || '-'}}</dd>

                                <dt>Número</dt>
                                <dd>{{vm.clienteLogado.numero || '-'}}</dd>

                                <dt>Complemento</dt>
                                <dd>{{vm.clienteLogado.complemento || '-'}}</dd>

                                <dt>Bairro</dt>
                                <dd>{{vm.clienteLogado.bairro || '-'}}</dd>

                                <dt>Cidade</dt>
                                <dd>{{vm.clienteLogado.cidade || '-'}}</dd>

                                <dt>UF</dt>
                                <dd>{{vm.clienteLogado.uf || '-'}}</dd>

                                <dt>CEP</dt>
                                <dd>{{(vm.clienteLogado.cep | brCep) || '-'}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <a ng-if="vm.indicador == null" ui-sref="cadastro.default({id : vm.loteSelecionado.loteamentoId})" class="btn btn-sm btn-default"><i class="fa fa-user"></i> Alterar usuário</a>
                <a ng-if="vm.indicador != null" ui-sref="cadastro.indicador({id : vm.loteSelecionado.loteamentoId , login: vm.indicador})" class="btn btn-sm btn-default"><i class="fa fa-user"></i> Alterar usuário</a>
            </div>
        </div>
    </section>

    <section ng-if="vm.indicador != null">
        <div class="panel panel-default">
            <div class="panel-heading">Dados do indicador</div>
            <div class="panel-body">
                <p class="h4 text-center text-uppercase">{{vm.indicadorSelecionado.nome}}</p>
                <br />
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">Contato</div>
                        <div class="panel-body">
                            <dl class="dl-horizontal text-center">
                                <dt>E-mail</dt>
                                <dd>{{vm.indicadorSelecionado.email || '-'}}</dd>

                                <dt>Telefone Fixo</dt>
                                <dd>{{(vm.indicadorSelecionado.telFixo | brPhoneNumber) || '-'}}</dd>

                                <dt>Telefone Móvel</dt>
                                <dd>{{(vm.indicadorSelecionado.telMovel | brPhoneNumber) || '-'}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="panel panel-default" style="border-left: 10px solid {{vm.loteSelecionado.cor}};">
            <div class="panel-heading">Lote selecionado</div>
            <div class="panel-body">
                <span class="h4 text-center text-uppercase">Lote {{vm.loteSelecionado.codigo}}</span>

                <p class="lead text-center">{{vm.loteSelecionado.descricao}}</p>

                <div class="row">
                    <div class="col-md-offset-2 col-sm-6 col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Área</div>
                            <div class="panel-body">
                                <span class="h4">{{vm.loteSelecionado.area}}m2</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Valor</div>
                            <div class="panel-body">
                                <span class="h4">{{vm.loteSelecionado.valor | currency}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <a ng-if="vm.indicador == null" ui-sref="mapa.default({id : vm.loteSelecionado.loteamentoId})" class="btn btn-sm btn-default"><i class="fa fa-map"></i> Alterar lote</a>
                <a ng-if="vm.indicador != null" ui-sref="mapa.indicador({id : vm.loteSelecionado.loteamentoId, login: vm.indicador})" class="btn btn-sm btn-default"><i class="fa fa-map"></i> Alterar lote</a>
            </div>
        </div>
    </section>

    <section>
        <div class="panel panel-default">
            <div class="panel-heading">Informações de pagamento</div>
            <form name="vendaForm" ng-submit="vm.save()">
                <div class="panel-body">
                    <p class="alert alert-danger text-center col-xs-12" ng-show="vm.errorDetail != null" ng-bind-html="vm.errorDetail | br">
                    </p>

                    <div class="row">
                        <div class="form-group col-sm-6 col-md-2 col-md-offset-1">
                            <label>Valor do Lote</label>
                            <input type="text" class="form-control text-center" placeholder="0,00" ng-model="vm.venda.valor" disabled="disabled" ui-money-mask />
                        </div>

                        <div class="form-group col-sm-6 col-md-2">
                            <label>Data da Compra</label>
                            <input type="text" class="form-control text-center" placeholder="00/00/0000" ng-model="vm.venda._dataHora" disabled="disabled" />
                        </div>

                        <div class="form-group col-sm-6 col-md-2">
                            <label>Quant. Parcelas <span class="text-primary">*</span></label>
                            <input type="text" class="form-control text-center" placeholder="36" name="quantParcelas" ng-model="vm.venda.quantParcelas" ng-change="vm.calculaParcela()" required ui-number-mask="0" />
                            <p class="text-danger" ng-show="vendaForm.quantParcelas.$error.required && !vendaForm.quantParcelas.$pristine">
                                Campo obrigatório.
                            </p>
                            <p class="text-danger" ng-show="(vm.venda.quantParcelas < 1 || vm.venda.quantParcelas > vm.lote.loteamento.quantParcelas) && !vendaForm.quantParcelas.$pristine">
                                A quant. de parcelas deve estar entre 1 e {{vm.lote.loteamento.quantParcelas}}.
                            </p>
                        </div>

                        <div class="form-group col-sm-6 col-md-2">
                            <label>Dia de Vencimento<span class="text-primary">*</span></label>
                            <select class="form-control text-center" name="diaVcto" ng-model="vm.venda.diaVencimento" required>
                                <option value="">Selecione</option>
                                <option value="1">1</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                            </select>
                            <p class="text-danger" ng-show="vendaForm.diaVcto.$error.required && !vendaForm.diaVcto.$pristine">
                                Campo obrigatório.
                            </p>
                        </div>

                        <div class="form-group col-sm-6 col-md-2">
                            <label>Valor Médio Parcela</label>
                            <input type="text" class="form-control text-center" placeholder="0,00" ng-model="vm.venda.valorParcela" ui-money-mask disabled="disabled" />
                        </div>
                    </div>
                    <p>
                        Clique no botão abaixo para finalizar sua aquisição.
                    </p>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-sm btn-primary" ng-disabled="vendaForm.$invalid || vm.areSubmitting"><i class="fa fa-check"></i> Finalizar</button>
                </div>
            </form>
        </div>
    </section>
</div>