<div class="text-center">
    <div class="row" style="position: relative;">
        <hr style="width: 100%; position: absolute; left: 0; right: 0; top: 7px;" />
        <hr style="width: {{step * 33.33}}%; position: absolute; left: 0; top: 7px; border-color: #158cba;" />
        <div class="col-xs-4">
            <span class="fa-stack fa-2x" ng-if="lote">
                <a ui-sref="mapa.default({id : lote.loteamentoId})" ng-if="indicador == null">
                    <i class="fa fa-circle fa-stack-2x" ng-class="step >= 1 ? 'text-primary' : 'text-muted'"></i>
                    <i class="fa fa-map fa-stack-1x fa-inverse"></i>
                </a>
                <a ui-sref="mapa.indicador({id : lote.loteamentoId, indicador: indicador})" ng-if="indicador != null">
                    <i class="fa fa-circle fa-stack-2x" ng-class="step >= 1 ? 'text-primary' : 'text-muted'"></i>
                    <i class="fa fa-map fa-stack-1x fa-inverse"></i>
                </a>
            </span>
            <span class="fa-stack fa-2x" ng-if="!lote">
                <i class="fa fa-circle fa-stack-2x" ng-class="step >= 1 ? 'text-primary' : 'text-muted'"></i>
                <i class="fa fa-map fa-stack-1x fa-inverse"></i>
            </span>
            <br />
            <small ng-class="step >= 1 ? 'text-primary' : 'text-muted'">Seleção de Lote</small>
        </div>
        <div class="col-xs-4">
            <span class="fa-stack fa-2x" ng-if="indicador">
                <a ui-sref="cadastro.default({id : lote.loteamentoId})" ng-if="indicador == null">
                    <i class="fa fa-circle fa-stack-2x" ng-class="step >= 2 ? 'text-primary' : 'text-muted'"></i>
                    <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                </a>
                <a ui-sref="cadastro.indicador({id : lote.loteamentoId, indicador: indicador})" ng-if="indicador != null">
                    <i class="fa fa-circle fa-stack-2x" ng-class="step >= 2 ? 'text-primary' : 'text-muted'"></i>
                    <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                </a>
            </span>
            <span class="fa-stack fa-2x" ng-if="!indicador">
                <i class="fa fa-circle fa-stack-2x" ng-class="step >= 2 ? 'text-primary' : 'text-muted'"></i>
                <i class="fa fa-user fa-stack-1x fa-inverse"></i>
            </span>
            <br />
            <small ng-class="step >= 2 ? 'text-primary' : 'text-muted'">Login/Cadastro</small>
        </div>
        <div class="col-xs-4">
            <span class="fa-stack fa-2x" ng-if="lote && indicador">
                <a ui-sref="finalizar.default({id : lote.loteamentoId})" ng-if="indicador == null">
                    <i class="fa fa-circle fa-stack-2x" ng-class="step >= 3 ? 'text-primary' : 'text-muted'"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                </a>
                <a ui-sref="finalizar.indicador({id : lote.loteamentoId, indicador: indicador})" ng-if="indicador != null">
                    <i class="fa fa-circle fa-stack-2x" ng-class="step >= 3 ? 'text-primary' : 'text-muted'"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                </a>
            </span>
            <span class="fa-stack fa-2x" ng-if="!lote || !indicador">
                <i class="fa fa-circle fa-stack-2x" ng-class="step >= 3 ? 'text-primary' : 'text-muted'"></i>
                <i class="fa fa-check fa-stack-1x fa-inverse"></i>
            </span>
            <br />
            <small ng-class="step >= 3 ? 'text-primary' : 'text-muted'">Finalizar Aquisição</small>
        </div>
    </div>
</div>

<br />
