body {
    padding-top: 70px;
    background-color: #f7f7f7;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

textarea {
    resize: none;
}

blockquote {
    background-color: #f7f7f7;
}

.table {
    background-color: #fff;
}

.panel-default {
    background-color: #fff;
}

    .panel-default > .panel-heading {
        background-color: #fff !important;
        border-bottom: 1px solid #f0f0f0 !important;
    }

    .panel-default > .panel-heading, .panel-default > .panel-footer {
        background-color: #fff !important;
        border-top: 1px solid #f0f0f0 !important;
    }

.panel-secondary {
    border-color: #ddd
}

    .panel-secondary > .panel-heading {
        color: #333;
        background-color: #f5f5f5;
        border-color: #ddd
    }

        .panel-secondary > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #ddd
        }

        .panel-secondary > .panel-heading .badge {
            color: #f5f5f5;
            background-color: #333
        }

    .panel-secondary > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #ddd
    }

.alert-info {
    background-color: #bbe3f2;
    border-color: #40b5e3;
    color: #006992
}

    .alert-info hr {
        border-top-color: #29ade0
    }

    .alert-info .alert-link {
        color: #e6e6e6
    }

.alert-secondary {
    color: #333;
    background-color: #f7f7f7;
    border-color: #ddd
}

    .alert-secondary hr {
        border-top-color: #ddd
    }

    .alert-secondary .alert-link {
        color: #333;
    }

.page-header {
    margin-right: 20px !important;
}

/*Vertical Center*/
.vcenter-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vcenter-parent {
    position: relative;
    height: 85vh;
}

.vcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.navbar {
    z-index: 999 !important;
}

/*Fixar cabeçalhos*/
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    z-index: 9;
}

/*Personalizar carousel*/
.carousel-indicators {
    margin-bottom: -30px;
}

    .carousel-indicators li {
        border: 1px solid #006992 !important;
    }

    .carousel-indicators .active {
        background-color: #006992 !important;
    }

.carousel-caption {
    border-radius: 10% !important;
    left: auto !important;
    right: 5px !important;
    top: 5px !important;
    bottom: auto !important;
    padding: 5px !important;
}

.carousel-control {
    color: #006992 !important;
    width: 40px !important;
}

    .carousel-control.left, .carousel-control.right {
        background-image: none !important;
    }

    .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
        left: 5px !important;
        margin-left: 0 !important;
    }

    .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
        right: 5px !important;
        margin-right: 0 !important;
    }
